:root {
    --default-transition: all 0.5s;
    --main-color: rgb(251, 118, 33);
    --main-color-hover: rgb(235, 97, 11);
}

/* NAV */
.nav-section .nav-bar .nav-menu-items li:first-child a {

    color: #39323a;
}

.nav-section .nav-bar .nav-menu-items .blog-item a {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li:first-child a::after {
    width: 0;
}

.nav-section .nav-bar .nav-menu-items .blog-item a::after {
    color: var(--main-color);
    width: 100%;
}

.nav-section .nav-bar .nav-menu-items li a:hover {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li a:hover::after {
    width: 100%;
}

/* HERO */
.hero-section {
    height: 480px;
   background-color: aquamarine;
}
.hero-section .hero-section-background {
    background-image: url("../img/page-title-bar-bg-1.png") , linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7));
    background-size: cover;
    height: 450px;
}
.hero-section .hero-section-background .hero-title {
    background-color: transparent;
    color: white;
}

.hero-section .hero-section-background .hero-title p {
    font-size: 17px;
}

/* FARM TO TABLE */
.farm-section .farm-left {
    background-color: rgb(207, 171, 243);
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.farm-section .farm-section-items .farm-left figure {
    width: 48%;  
    background-color: white;
    margin-bottom: 40px;
    transition: all 1s;
}
.farm-section .farm-section-items .farm-left figure:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.farm-section .farm-section-items .farm-left figure img {
    width: 100%;
}
.farm-section .farm-section-items .farm-left figure figcaption {
    font-size: 24px;
    line-height: 26px;
    padding: 35px 30px 20px 30px;
    font-family: Vidaloka;
}
.farm-section .farm-section-items .farm-left figure p{
    padding: 0 30px 0 30px;
}

.farm-section .farm-section-items .farm-left figure .admin-text{
    padding: 0 30px 25px 30px;
}

.farm-section .farm-section-items .farm-left figure .button {
    padding: 25px 30px;
}