:root {
    --default-transition: all 0.5s;
    --main-color: rgb(251, 118, 33);
    --main-color-hover: rgb(235, 97, 11);
}

/* NAV */
.nav-section .nav-bar .nav-menu-items li:first-child a {

    color: #39323a;
}

.nav-section .nav-bar .nav-menu-items .blog-item a {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li:first-child a::after {
    width: 0;
}

.nav-section .nav-bar .nav-menu-items .blog-item a::after {
    color: var(--main-color);
    width: 100%;
}

.nav-section .nav-bar .nav-menu-items li a:hover {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li a:hover::after {
    width: 100%;
}

/* HERO */
.hero-section {
    height: 480px;
   background-color: aquamarine;
}
.hero-section .hero-section-background {
    background-image: url("../img/page-title-bar-bg-1.png") , linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7));
    background-size: cover;
    height: 450px;
}
.hero-section .hero-section-background .hero-title {
    background-color: transparent;
    color: white;
}

.hero-section .hero-section-background .hero-title p {
    font-size: 17px;
}
