:root {
    --default-transition: all 0.5s;
    --main-color: rgb(251, 118, 33);
    --main-color-hover: rgb(235, 97, 11);
}


/* NAV */
.nav-section .nav-bar .nav-menu-items li:first-child a {

    color: #39323a;
}

.nav-section .nav-bar .nav-menu-items .recipes-item a {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li:first-child a::after {
    width: 0;
}

.nav-section .nav-bar .nav-menu-items .recipes-item a::after {
    color: var(--main-color);
    width: 100%;
}

.nav-section .nav-bar .nav-menu-items li a:hover {
    color: var(--main-color);
}

.nav-section .nav-bar .nav-menu-items li a:hover::after {
    width: 100%;
}

/* HERO */
.hero-section {
    background-color: palevioletred;
    height: 980px;
}

.hero-section .hero-section-background {
    background: url("../img/food.jpg") no-repeat 40% 10%;
    background-size: cover;
    height: 450px;
    background-attachment: fixed;
}

.hero-section .hero-title {
    background-color: transparent;
    color: white;
}

.hero-section .hero-items {
    top: 385px;
}

/* EXPLORE RECIPES */
/* explore-section-title */
.explore-section .explore-section-title {
    width: 90%;
    max-width: 570px;
    text-align: center;
    margin: 10px auto 80px auto;
}

.explore-section .explore-section-title h3 {
    letter-spacing: 3px;
    font-size: 17px;
}

.explore-section .explore-section-title p {
    line-height: 28px;
    font-size: 16px;
    margin-top: 20px;
}

/* explore-section-items */
.explore-section .explore-section-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.explore-section .explore-section-items .explore-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-section .explore-section-items .item1 {
    width: 48%;
    height: 400px;
}

.explore-section .explore-section-items .item2 {
    width: 31%;
    height: 650px;
    margin-top: 55px;
}


.explore-section .explore-section-items .explore-item .explore-img {
    width: 100%;
    overflow: hidden;
}

.explore-section .explore-section-items .item1 .explore-img {
    height: 85%;
}

.explore-section .explore-section-items .item2 .explore-img {
    height: 90%;
}

.explore-section .explore-section-items .explore-item .explore-img img {
    width: 100%;
    transition: all 1s;
}

.explore-section .explore-section-items .explore-item .explore-img:hover img {
    transform: scale(1.1);
}

.explore-section .explore-section-items .explore-item figcaption {
    width: 100%;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    font-weight: 700;
    font-size: 17px;
}

.explore-section .explore-section-items .item1 figcaption {
    height: 15%;
}

.explore-section .explore-section-items .item2 figcaption {
    height: 10%;
}

.explore-section .explore-section-items figcaption:hover {
    background-color: var(--main-color);
    color: white;
}

/* featured RECIPES */
/* featured-section-title */
.featured-section {
    width: 100%;
    text-align: center;
    margin: 120px auto 80px auto;
    background-color: rgb(234, 235, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.featured-section h3 {
    margin-top: 100px;
    width: 100%;
    letter-spacing: 3px;
    font-size: 17px;
}

.featured-section .featured-item {
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.featured-section .featured-item img {
    width: 70%;
}

/* RECENT  RECIPES */
/* recent-section-title */
.recent-section .recent-section-title {
    width: 90%;
    max-width: 570px;
    text-align: center;
    margin: 120px auto 80px auto;
}

.recent-section .recent-section-title h3 {
    letter-spacing: 3px;
    font-size: 17px;
}

.recent-section .recent-section-title p {
    line-height: 28px;
    font-size: 16px;
    margin-top: 20px;
}

/* recent-section-items */
.recent-section .recent-section-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-section .recent-section-items figure {
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: white;
    padding-bottom: 15px;
}

.recent-section .recent-section-items figure .pic-parent {
    width: 100%;
    overflow: hidden;

}

.recent-section .recent-section-items figure .pic-parent img {
    width: 100%;
    transition: all 1s;
    display: block;
}

.recent-section .recent-section-items figure .pic-parent:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.recent-section .recent-section-items figure figcaption h2 {
    font-size: 21px;
    text-align: center;
    padding: 10px 7px;
    font-weight: 100;
    transition: var(--default-transition);
    cursor: pointer;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-section .recent-section-items figure figcaption h2:hover {
    color: var(--main-color);
}

.recent-section .recent-section-items figure figcaption p {
    text-align: center;
}

.recent-section .recent-section-items figure figcaption p span {
    transition: var(--default-transition);
}

.recent-section .recent-section-items figure figcaption p span:hover {
    color: var(--main-color);
    cursor: pointer;

}


@media (max-width:1000px) {

    /* recent-section-items */
    .recent-section .recent-section-items figure figcaption h2 {
        font-size: 18px;
    }
}

@media (max-width:768px) {

    /* recent-section-items */
    .recent-section .recent-section-items figure {
        width: 48%;
    }

    .recent-section .recent-section-items figure figcaption h2 {
        font-size: 16px;
    }
}

@media (max-width:425px) {

    /* recent-section-items */
    .recent-section .recent-section-items figure {
        width: 100%;
        margin-bottom: 60px;
    }

    .recent-section .recent-section-items figure figcaption h2 {
        font-size: 16px;
    }
}